body {
    background-color: rgb(167, 164, 164);
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

#screen {
    display: flex;
    justify-content: center;
    border: rgb(48, 46, 46) 20px;
    border-style: solid ;
    border-radius: 10px;
    height: 600px;
    width: 600px;
    margin-bottom: 10px;
   
}

#screen div {
    display: flex;
    flex-direction: column;
    flex:1;
}

.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.reset {
    font-size: large;
    font-weight: 700;
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
